
@main("Countries list"){
    <div class="row mt-2">
        <div class="col">
            <div class="input-group mb-3">

                <input id="txtfilter" type="text" placeholder="Country partial name or code" aria-label="Country partial name or code" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <input id="btnSearch" class="btn btn-outline-secondary" type="button" value="Go" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2" id="listCountyContainer" class="lists">

    </div>
}