@main("Report Page"){
    <div class="row mt-2">
        <div class="col">
            <div class="row mt-2 align-items-center">
                <div class="col-2">
                    <h1>Report</h1>
                </div>
                <div class="col-2">
                    <a id="btnReportShow" class="btn btn-primary" href="#">Show</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card text-white bg-success mt-3">
                        <div class="card-header">Countris with most airports</div>
                        <div class="card-body">
                            <div class="container" id="topMostAirport">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-danger mt-3">
                        <div class="card-header">Countris with least airports</div>
                        <div class="card-body">
                            <div class="container" id="topleastAirport">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="card text-white bg-primary mt-3">
                        <div class="card-header">Countries with their surfaces</div>
                        <div class="card-body">
                            <div class="container" id="listSurface">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3 mx-auto">
                    <div class="card text-white bg-warning mt-3">
                        <div class="card-header">Most common LeIdens</div>
                        <div class="card-body">
                            <div class="container" id="listLeIdens">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}